
.home {
    height: 100vh;
    background-image: url("../images/background/background1.jpg");
    background-size: cover;
    position: relative;
}

.home .title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-transform: uppercase;

}
.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.home-desc{
    margin: 10px 0px;
    color: white;
    letter-spacing: 1px;
    line-height: 1.5;
}
.home .btn{
    min-width: 160px;
    border-radius: 5px;
    padding: 15px 0;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-family: inherit;
}
.home .btn-start{
    background-color: white;
    margin-right: 10px;
}

.home .btn-learn{
    margin-left:10px;
    background-color:rgb(24, 149, 216);
    color:white;
}
.hover-opacity{
    transition: 1s;
}
.hover-opacity:hover{
    opacity: 0.7;
}

.header-section , .section-header{
    text-align: center;
}
.section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin: 4% 0 auto auto;
}
.section-line{
    display:block;
    border-bottom: 4px solid var(--primaryColor);
    width: 3%;
    margin: 10px 0 70px 49%;
}


.about>.container>.about-content{
    width: 100%;
    background-color: transparent;
    height: 60vh;
}

.about>.container>.about-content>.about-item{
    width: 30%;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 2% 0  2% 0 ;
    box-shadow: 3px 3px 3px 3px rgb(148, 148, 148);
}
.about>.container>.about-content>.about-item-2-mg{
    margin: 0 5% 0 5%;
    height: auto;
}

.about>.container>.about-content>.about-item>.icon{
    color: var(--primaryColor);
    margin-bottom: 10px;
}

.about>.container>.about-content>.about-item>.about-item-title{
    margin-bottom: 10px;
    text-transform: capitalize;
    transition: 2s;
}
.about-item:hover .about-item-title,.about-item-desc{
    color: rgb(226, 226, 226);
    width: 80%;
    margin-left: 20px;
}
.about>.container>.about-content>.about-item>.about-item-desc{
    line-height: 1.5;
    margin-bottom: 10px;
    color: black;
    transition: 2s;
}

.about>.container>.about-content>.about-item>a{
    text-decoration: none;
    color: var(--primaryColor);
}

