/*
    1_ common styles
    2_ general styles
    3_ sections 
        3.1 Home Section
        3.2 About Section
        3.3 Portfolio Section
        3.4 Services Section
        3.5 Prices Section
        3.6 Team Section
        3.7 Blog  Section
        3.8 Content Section
        3.9 Footer Section

*/ 

/* 1_ Common styles 

_ Container
_ Ppacity hover
_ Section header
_ Section padding
_ Hover effect (lift to right)
_ Hover effect(Top to bottom)

*/

/*Generals */

:root{
    --primaryColor:#6195ff;
}


.pd-y{
    padding:100px 0;
}
.pi2-mg{
    margin: 0 3.5%;
}

.ltr-effect{
    position: relative;
}
.ltr-effect::after{
    position: absolute;
    content: "";
    display: inline-block;
    width: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    color: white;
    background-color: #333; 
    transition: width 0.8s;
}
.ltr-effect:hover::after {
    width: 100%;
}

/* _______________________________________________________________________________________________________________________________ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
body{
    font-family: sans-serif;
}
.header{
    background-color: transparent;
    position: fixed;
    position: fixed;
    width: 100%;
    z-index: 10;

}
.container .logo{
    width: 40%;
    float: left;
}
.header>.logo img{
    width: 20%;
    margin-top:15px ;
}

.container .nav{
    width: 60%;
    float: left;
}
/* To solve float problem */
.clear{
    clear: both;
}

.header{
    background-color: silver;
}
.header .nav{
    list-style: none;
}
.header .nav li{
    display: inline-block;
}
.header .nav li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 30px 15px;
}


/* links hover effects */

.header .nav>li > .active::after{
    content: "";
    display: block;
    background-color: var(--primaryColor);
    width: 100%;
    height: 3px;

}  

.header .nav > li > a::after{
    content: "";
    display: block;
    background-color: var(--primaryColor);
    width: 0%;
    height: 3px;
    transition: width 0.5s;
}  

.header .nav > li > a:hover::after{
    content: "";
    display: block;
    background-color: var(--primaryColor);
    width: 100%;
    height: 3px;

}  
/* links hover effects */

.dropdown{
    position: relative;
}

.dropdown-down{
    position: absolute;
}

.dropdown-down > li > a {
    display: block;
    width: 2.8cm;
    height: 1cm;
    position: absolute;
    top: -50%;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.dropdown-down .click:hover +ul{
    background-color: var(--primaryColor);
    display: block;
    width: 2.8cm;
    height: 1cm;
    position: absolute;
    top: -50%;
    visibility: visible;
    opacity: 1;
}

/* Home class started */



